@model IEnumerable<LibraryCourse.Models.Books>
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <p>
        @if (SignInManager.IsSignedIn(User) && user.Email.Equals("rbekeshov@gmail.com"))
        {
            <a asp-action="Create">Create New</a>
        }
        else { }
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author_Name)
                </th>
                <th>
                    Temporary Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author_Name)
                </td>

                @if (item.Book_Name.Equals(ViewBag.MyId) && ViewBag.MyId2==null)
                {
                    <td>
                        @ViewBag.MyStatus
                    </td>
                }
                else if(item.Book_Name.Equals(ViewBag.MyId2))
                {
                    <td>
                        Changed to @ViewBag.MyId2
                    </td>
                }
                else
                {
                    <td></td>
                }
                <td>
                    @if (SignInManager.IsSignedIn(User) && user.Email.Equals("rbekeshov@gmail.com"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
